<div>
    <div class="row m-3 d-flex justify-content-between">
        <div class="col-6 py-0">
            <div class="row">
                <div class="col"><h5 id="rating-output">RATING: <span>0.0 - 10.0</span></h5></div>
            </div>
            <div class="row">
                <div class="col-12 px-4">
                    <div id="rating-slider"></div>
                </div>
            </div>
        </div>
        <div class="col-6 py-0">
            <div class="row">
                <div class="col"><h5 id="population-output">POPULATION: <span></span></h5></div>
            </div>
            <div class="row">
                <div class="col-12 px-4">
                    <div id="population-slider" data-max-population="{{ max_population }}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <div class="input-group">
                <input id="city-search-input" type="text" class="form-control" placeholder="Search by city name..">
                <button id="city-search-btn" class="btn btn-primary" type="button">Search</button>
                <button id="city-search-clear-btn" class="btn btn-danger" type="button">Clear</button>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table" id="search-city-table">
            <thead>
                <tr>
                    <th scope="col">City</th>
                    <th scope="col">Population</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody class="overflow-scroll">
                <tr class="city-row" data-lat="" data-lng="">
                    <td class="city-name"></td>
                    <td class="city-population"></td>
                    <td class="city-rating"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
